![data-x](http://oi64.tinypic.com/o858n4.jpg)

---
# Read CSV File and Put in Pandas Data Frame

**Author list:** Ikhlaq Sidhu

**References / Sources:** 


**License Agreement:** Feel free to do whatever you want with this code

___

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Wed Oct 14 03:32:39 2015

@author: ikhlaqsidhu
"""

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number


# from StringIO import StringIO
# import pandas

df0 = pd.read_csv('d3.txt')

print df0

         Date     SPY     DIA    QQQ
0      1/2/04   90.07   80.93  33.57
1      1/5/04   91.01   81.18  34.83
2     1/12/04   92.50   82.35  35.61
3     1/20/04   92.66   82.14  35.09
4     1/26/04   91.89   81.54  34.23
5      2/2/04   92.67   82.26  34.28
6      2/9/04   93.23   82.80  34.11
7     2/17/04   93.02   82.79  34.03
8     2/23/04   93.14   82.51  33.76
9      3/1/04   94.24   82.61  33.82
10     3/8/04   91.16   79.74  32.79
11    3/15/04   90.24   79.39  32.08
12    3/22/04   90.22   79.59  32.52
13    3/29/04   93.15   81.74  34.25
14     4/5/04   92.93   81.53  34.11
15    4/12/04   92.50   81.56  33.32
16    4/19/04   92.93   81.76  34.35
17    4/26/04   90.16   79.76  32.10
18     5/3/04   89.35   78.82  32.29
19    5/10/04   89.42   78.28  32.08
20    5/17/04   89.23   78.00  32.33
21    5/24/04   91.71   79.86  33.75
22     6/1/04   91.81   80.24  33.41
23     6/7/04   92.92   81.48  34.01
24    6/14/04   92.67   81.53  33.64
25    6/21/04   92.84   81.40  34.47
26    6/28/04   92.06   80.60  33.99
27     7/6/04   91.12   80.08  33.01
28    7/12/04   90.29   79.63  32.01
29    7/19/04   88.86   78.15  31.59
..        ...     ...     ...    ...
493   6/10/13  159.19  147.11  70.96
494   6/17/13  156.00  144.55  69.36
495   6/24/13  157.33  145.35  70.19
496    7/1/13  159.88  147.77  71.48
497    7/8/13  164.28  150.85  74.16
498   7/15/13  165.91  151.98  73.46
499   7/22/13  165.85  152.02  74.23
500   7/29/13  167.66  153.04  75.80
501    8/5/13  166.05  150.99  75.33
502   8/12/13  162.63  147.83  74.34
503   8/19/13  163.41  147.17  75.51
504   8/26/13  160.50  145.23  74.33
505    9/3/13  162.84  146.44  75.76
506    9/9/13  166.07  150.96  76.88
507   9/16/13  168.25  151.86  78.03
508   9/23/13  166.46  149.80  78.10
509   9/30/13  166.44  148.05  78.43
510   10/7/13  167.79  149.76  78.26
511  10/14/13  171.86  151.33  81.15
512  10/21/13  173.40  153.16  81.89
513  10/28/13  173.66  153.56  81.80
514   11/4/13  174.72  155.17  81.53
515  11/11/13  177.44  157.25  82.94
516  11/18/13  178.19  158.33  82.96
517  11/25/13  178.38  158.65  84.68
518   12/2/13  178.32  158.09  84.95
519   12/9/13  175.53  155.62  83.81
520  12/16/13  179.90  160.31  85.72
521  12/23/13  182.17  162.75  86.73
522  12/30/13  183.00  163.74  87.16

[523 rows x 4 columns]