![data-x](http://oi64.tinypic.com/o858n4.jpg) 
# Homework 0: Python Review

**Authors:** Arshi (2018s), Sana (2017f), Alex (2017s)

**Due date:** Tuesday Jan 23 2018, before lecture.

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. 

**For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).**

### Lists

Create an empty Python list called 'a' in the cell below.

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

Double every even integer element from list 'a'. Store the results back in 'a'.

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

Calculate the mean of 'a'.

### Strings

Create an empty list called 'b'.

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

Append the string "This is the end of the first HW." to the list 'b'.

Print 'b' as ONE string backwards (starting with "WH tsrif...").

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

Delete 'alpha' from the dictionary.

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

Create another set called 'd' with elements 2, 5, 10, 30.

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

Find the intersection between sets 'c' and 'd'.